body {
    font-family: 'Joystix';
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Joystix';
    font-style: normal;
    font-weight: 400;
    src: local('Joystix'), 
        url(Joystix.ttf) format('truetype');
}
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}